.allRecipes {
  padding: 100px 0;
  max-width: 1080px;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 70px;
  }
  .allRecipesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .allRecipes__box {
    flex: 1 0 21%;
    text-align: center;
    padding-bottom: 50px;
    margin: 1vw;

    img {
      width: 210px;
      height: 210px;
    }

    a {
      color: #ffbf00;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
