.recipeWrapper {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #fffde4;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 50px;
  }

  a {
    color: inherit;
  }
}

.textWrapper {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: 100%;
  margin-bottom: 2vh;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  line-height: 1.5;

  .textWrap {
    font-size: 18px;
    border: 1px solid #ededed;
    padding: 1% 6%;
  }
}

.introduction {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;

  .introductionWrapper {
    line-height: 2;

    h2 {
      font-size: 35px;
      border-bottom: 1px solid #000;
      padding-bottom: 30px;
    }

    h4 {
      padding-top: 30px;
      font-size: 20px;
    }

    p {
      font-size: 20px;
    }

    img {
      width: 500px;
      height: auto;
    }
  }

  .intro-text {
    width: 500px;
  }
}

.recipeInfo {
  display: flex;
  gap: 5vw;
  padding: 80px 0;
  flex-wrap: wrap;
  justify-content: center;

  .recipeIngredients {
    width: 300px;

    .ingrList {
      font-size: 18px;
      padding-left: 30px;
      padding-top: 20px;
    }
  }

  .recipeInstructions {
    width: 700px;
    p {
      font-size: 20px;
      line-height: 2;
    }
  }
}

.image-box-wrapper {
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 500px;
  }
}

.images-box {
  padding-bottom: 80px;
}
