.update-delete-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 3vw;
  padding-top: 30px;
  background-color: #fffde4;
  gap: 10px;

  .updateBtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #fbc531;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px 20px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0);
    letter-spacing: 1.5px;

    &:hover {
      border: 3px solid #fbc531;
      background-color: #fffde4;
      color: #000;
    }
  }
}

.recipeWrapper {
  width: 100%;
  padding-top: 80px;
  background-color: #fffde4;

  h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
  }

  a {
    color: inherit;
  }
}

.textWrapper {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: 100%;
  margin-bottom: 2vh;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  line-height: 1.5;

  @media screen and (max-width: 520px) {
    display: block;
  }

  .textWrap {
    // font-size: 18px;
    font-size: var(--recipe-page-20);
    border: 1px solid #ededed;
    padding: 1% 6%;

    @media screen and (max-width: 520px) {
      margin: 10px;
    }
  }
}

.introduction {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;

  .introductionWrapper {
    line-height: 2;

    h2 {
      font-size: 35px;
      border-bottom: 1px solid #000;
      padding-bottom: 30px;
    }

    h4 {
      padding-top: 30px;
      font-size: 20px;
      text-transform: capitalize;
    }

    p {
      font-size: 20px;
    }

    .intro-image {
      max-width: 500px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .intro-text {
    width: 500px;
  }
}

.recipeInfo {
  display: flex;
  gap: 5vw;
  padding: 80px 0;
  flex-wrap: wrap;
  justify-content: center;

  .recipeIngredients {
    max-width: 300px;

    .ingrList {
      font-size: 18px;
      padding-left: 30px;
      padding-top: 20px;
    }
  }

  .recipeInstructions {
    max-width: 700px;
    p {
      font-size: 20px;
      line-height: 2;
      margin: 10px;
    }
  }
}

.images-box {
  padding-bottom: 80px;

  .image-box-wrapper {
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;

    .image-container {
      max-width: 500px;
      img {
        width: 100%;
      }
    }
  }
}
