.recipeWrapper {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    a {
        color: inherit;
    }
}

.recipeIntro {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
        width: 100%;
        max-height: 15rem;
        border-radius: 1rem;
        object-fit: cover;
        margin-right: 2rem;
    }

    h3 {
        text-align: justify;
    }
}

.recipeInfo {
    width: 80%;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    align-items: center;

    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
    }

    .recipeIngredients {
        margin-right: 2rem;
        padding: 1rem;
    }

    .recipeInstructions {
        text-align: justify;
        padding: 1rem;
    }
}