.contactFormWrapper {
    width: 60%;
    margin: 4rem 2rem;
    line-height: 2rem;
    color: #fff;

    h1 {
        margin-bottom: 2rem;
    }

    .contactFormContent {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contactFromDetails {
            width: 70%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 1rem;
        }

        input {
            width: 100%;
            height: 30px;
            border: 0.5px solid #1f1f1f32;
            padding: 1rem;
        }

        .contactFormMessage {
            width: 70%;
            margin-top: 1rem;

            #messageBox {
                width: 100%;
                height: 100px;
            }
        }

        button {
            width: 70px;
            padding: 0.5rem;
            margin-top: 0.5rem;
            color: #fff;
            background-color: #eabd31;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            float: right;
            transition: transform .7s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}