.sliderWrapper {
  width: 60%;
  margin: 2rem;

  .sliderItem {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      border-radius: 1rem;
      object-fit: cover;
    }

    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}