.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f2f2;

  h1 {
    margin-top: 2rem;
    color: #1f1f1f;
  }

  .sliderWrapper {
    width: 60%;
    max-width: 900px;
    margin: 2rem;
    border-radius: 1rem;
    overflow: hidden;

    .sliderItem {
      width: 100%;
      max-height: fit-content;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #f9f2f2;

      .imgWrapper {
        width: 90%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        img {
          border-radius: 1rem;
          object-fit: cover;
          opacity: 0.7;
          z-index: -2;
        }
      }

      .slideContent {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 1rem;
        border-radius: 1rem;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;

        h2,
        h3,
        p {
          text-align: center;
          margin-bottom: 1rem;
        }

        button {
          padding: 0.9rem 1.2rem;
          margin-top: 2rem;
          color: #fff;
          background-color: #eabd31;
          border: none;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}