// @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Titillium+Web&display=swap');

:root {
  --step-8: clamp(0.44rem, calc(0.4rem + 0.19vw), 0.63rem);
  --exex-small: clamp(0.52rem, calc(0.47rem + 0.26vw), 0.79rem);
  --ex-small: clamp(0.63rem, calc(0.56rem + 0.36vw), 0.98rem);
  --small: clamp(0.75rem, calc(0.66rem + 0.48vw), 1.23rem);
  --step-4: clamp(0.9rem, calc(0.78rem + 0.63vw), 1.54rem);
  --step-3: clamp(1.09rem, calc(0.92rem + 0.84vw), 1.92rem);
  --step-2: clamp(1.3rem, calc(1.08rem + 1.1vw), 2.4rem);
  --step-1: clamp(1.25rem, calc(1.2rem + 0.25vw), 1.5rem);
  --step-0: clamp(2.5rem, calc(2.25rem + 1.25vw), 3.75rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(106, 101, 101);
  font-family: 'Cormorant Garamond', serif;
}
